body{margin: 0; padding: 0; min-width: 1200px;}
a{text-decoration: none;}
img.scroll{
	padding-top: 0;
	width: 5%;
	height: 89.5%;
	float: left;
	opacity: 0.2;
	margin-top: -5px;
}
img.scrollz{
	margin-bottom: -5px;
	padding-bottom: 0;
	width: 5%;
	height: width;
	float: left;
	opacity: 0.2;
}

div.main 
{
	width: 100%; 
	height: 100%;
	background-image: url(../resources/fon.jpg);
	background-size: 100%; 
	background-repeat: round;
}
div.topmenu
{ 
     float: right; 
     height: 70px; 
	 margin-right: 10px;
     line-height: 70px
}
div.topmenu a{
	font-family: Monotype Corsiva;
	font-weight: normal; 
	text-align: center; 
	font: 18px/26px ; 
	font-size:6vw;
	margin: 0 0 0 10px; 
	color: #b19254;}
div.topmenu a:hover{color: #fff;}
/*main*/
div.welcome
{
	
	width:100%;
	height: 100%;
	background-image: url(../resources/sf.jpg);
	background-size: 100%;
	background-repeat: round;
}
div.line{
	height:5px; 
	background: #b19254; 
margin-top: 0;

	}
	
*div.content 
{
padding: 100px;
	width: 30%;
	height: 30%;
}
*
div.content p{
	padding-top:10%;
	padding-left:10%;
	padding-right: 10%;
	text-align: center;
    margin-top: 0;
	font-size: 3vw;
	color: #b19254;
	}
div.download
{
	
	width:100%;
	height: 100%;
	background-image: url(../resources/lf.png);
	background-size: 100%;
	background-repeat: round;

}	
div.downloadbtn
{
	width:200;
	height: 200;
	float: right;
	margin-right: 50%;
	margin-top:22.5%;

}	
div.downloadbtn a{
		opacity: 0.9;
	background: #1D0B0A;
	border: 1px solid #b19254;
	border-radius: 3px;  
	padding:20px;
	font-family: Monotype Corsiva;
	font-weight: normal; 
	text-align: center; 
	font: 36px/48px ; 
	font-size: 5vw;
	margin: 0 0 0 10px; 
	color: #b19254;
}
div.downloadbtn :hover{background: #3F0202; opacity: 1; color: #FFFFFF; border;1px solid #bfd5dd}